@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f9f9f9;
}

html {
  scroll-behavior: smooth;
}

/* UNIVERSAL STYLES */
a {
  text-decoration: none;
  color: #332727;
}

.hide {
  display: none !important;
} /* HEADER */

header {
  background-color: #f9f9f9;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

#logo {
  text-decoration: none;
  color: #332727;
  font-family: "Newsreader", serif;
  font-size: 3rem;
  margin-left: 2rem;
}

#logo:hover {
  font-style: italic;
}
#nav-bar {
  height: 100%;
}
#nav-bar ul {
  list-style-type: none;
  height: 100%;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#nav-bar ul li a {
  font-size: 1.5rem;
  font-family: "Newsreader", serif;
}
#nav-bar ul li a:hover {
  font-style: italic;
  font-weight: bold;
}

/* HERO SECTION */

#hero-section {
  height: 100vh;
  background-image: url("./images/pexels-mont-photographs-2948636.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-content {
  color: #fff;
  display: flex;
  flex-direction: column;
}

#hero-content h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

#hero-content p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

#hero-content a {
  color: #fff;
  width: 30%;
  font-size: 1.5rem;
  background-color: #332727;
  text-align: center;
  margin: 0 auto;
  display: none;
}

/*ABOUT SECTION*/

/*move first two styles bc they contain contact button as well*/
#about-home-btn,
#contact-home-btn {
  cursor: pointer;
}

#about-home-btn:hover,
#contact-home-btn:hover {
  text-decoration: underline;
}

#about-section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 110;
  overflow: scroll;
  display: flex;
  background: #f9f9f9;
  padding: 4rem;
}

.about-text-section {
  margin-top: 5rem;
  width: 60%;
}

#about-section h2 {
  font-family: "Newsreader", serif;
  font-size: 2.5rem;
  margin: 1rem 0 2rem 0;
}

.about-txt-intro {
  font-family: "Newsreader", serif;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 5rem;
}

.about-txt-skills {
  padding-bottom: 4rem;
}

#about-section h3 {
  font-family: "Newsreader", serif;
  font-size: 1.5rem;
  margin: 3rem 0 3rem 0;
}

.about-img-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-section img {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 4rem;
}

#cv-link,
#contact-button {
  background-color: #332727;
  color: #fff;
  width: 25%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border-radius: 10px;
  border: 1px solid #332727;
  cursor: pointer;
}

#cv-link {
  margin: 2rem 0 2rem 0;
}

#contact-button {
  margin-top: 2 rem;
  width: 40%;
}

#cv-link:hover,
#contact-button:hover,
#submit-form-btn:hover {
  background-color: #fff;
  color: #332727;
  width: 28%;
  border: 1.5px solid #332727;
}

#contact-button:hover {
  width: 45%;
}

.project-img {
  width: 200px;
}

/*CONTACT SECTION*/

#contact-section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 110;
  overflow: scroll;
  display: flex;
  background: #f9f9f9;
  padding: 4rem;
}

#contact-form-section {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#contact-form-section h2 {
  font-family: "Newsreader", serif;
  font-size: 2.5rem;
  margin: 2rem 0 2rem 0;
}
#contact-form-section h2,
p {
  margin: 2rem 0rem 2rem 0rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 2rem;
}

form input,
textarea {
  height: 2.2rem;
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e97e94;
  margin-top: 5px;
  padding-left: 10px;
}

form textarea {
  height: 10rem;
  resize: none;
}

form input:focus,
form input:active,
textarea:focus,
textarea:active {
  border: 1.5px solid #332727;
  outline: none; /* Remove default blue outline on focus */
}

#submit-form-btn {
  background-color: #332727;
  color: #fff;
  width: 20%;
  height: 2.5rem;
  margin-bottom: 3rem;
  padding: 0 25px;
  border-radius: 10px;
  border: 1px solid #332727;
  cursor: pointer;
}

/*FOOTER SECTION*/

#footer-section {
  height: 15rem;
  background-color: #332727;
  color: #fff;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-section h4 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#footer-section ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

#footer-section li {
  margin: 0.5rem;
}

#footer-section a {
  color: #fff;
}

#footer-section a:hover {
  color: #e97e94;
}
